tmp
venv
codebase
wheel
*.pyc
*-db
__pycache__
tasks/archived
output/**
!output/*/results/
!output/*/results/**
**/dependency/logs
**/dependency/output
**/dependency/output/**
**/dependency/logs/**
dataset/github