tmp
venv
codebase
wheel
*.pyc
*.dates_cache.json
*-db
__pycache__
tasks/archived
output/**
!output/*/results/
!output/*/results/**
**/dependency/logs
**/dependency/output
**/dependency/output/**
**/dependency/logs/**
node_modules
.claude
.vscode
dataset/github/python-20141001-20241001-star-100-1K.json